*.Rproj
.Rhistory
.Rproj.user/
.DS_Store
Matlab/Italy_analysis.m
Image/beta_CFR_2020_month_percent_death_contour.png
Image/italy_analysis.png
Image/cases_CFR_top3_2020_month.png
Image/cases_CFR_top3_2020_month_percent.png
Image/cases_CFR_top3_2020_month_wide_view.png
